.container {
    display: flex;
    height: 100vh;
}

.email-list {
    flex: 0 0 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.email-list-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.email-list-item:hover {
    background-color: #eaeaea;
}

.email-viewer {
    flex: 1;
    padding: 20px;
}

.alert {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
}